// Body
$body-bg: #6b0f1a;
$bgdefault: #f3f8fb;
$navbg: #1D8EBB;
$nav-gradient: -webkit-linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
$nav-gradient2: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f3b300;
$green: #07863c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$alt-yellow : #eab110;
$hover-red : #a70101;
$dark-text: #252424;
$yel-bg: #ffc107;
$alt-bg: #00B0B9;
$grad-bg: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);


//Others
$nav-w : 80%;
$logo-w : 45px;
$mg-20 : 110px;
$mg-bottom: 40px;
$rounded : 20px;
